<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Facebook" version="5.4.1.0" />
  <package id="FacebookWeb" version="5.4.1.0" />
  <package id="FacebookWebMvc" version="5.4.1.0" />
  <package id="FakeItEasy" version="1.7.4257.42" />
  <package id="FluentAssertions" version="1.6.0" />
  <package id="MvcPaging" version="1.0.2" />
</packages>