<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    -->
  <facebookSettings appId="89290378016" appSecret="83c491318d76009823446e112b527a29" xdt:Transform="Replace"
    canvasPage="https://apps.facebook.com/complainatron/" canvasUrl="http://complainatron.apphb.com/" siteUrl="http://complainatron.apphb.com" cancelUrlPath="">
  </facebookSettings>
  <appSettings xdt:Transform="Replace">
      <add key="webpages:Version" value="1.0.0.0" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="RootUrl" value="http://complainatron.apphb.com"/>
  </appSettings>
    <connectionStrings>
      <add name="DataContextConnectionStringName" 
        connectionString="Server=393ce04f-1729-4b27-ba1f-9fac0023fe9b.sqlserver.sequelizer.com;Database=db393ce04f17294b27ba1f9fac0023fe9b;User ID=oyoyjssedgrlqdtw;Password=Skqswu4rzhmerUfe6y3AuH4wcmRaTckhRnNbfnAmcrGoENZvhKCpouGip3pjL4Fw;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>