<h2>About Complainatron</h2>
<p>
     Complainatron is a Facebook application that allows people to complain for fun. Complain and let your friends like your complaint! Have a look at what others are complaining about. 
     Complainatron is designed to promtoed good-natured venting. Complaining about stuff makes you feel better!
</p>
<p>
    Complainatron was created and is maintained by <a href="http://mattpayne.ca" target="_blank">Matt Payne</a>
</p>
