
@model Complainatron.Models.MapModel
           
@{
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}

@Html.Hidden("MapData", Html.Raw(Model.MapData))

@section Header
{
    <script type="text/javascript">
        var initialLocation;
        var siberia = new google.maps.LatLng(60, 105);
        var newyork = new google.maps.LatLng(40.69847032728747, -73.9514422416687);
        var browserSupportFlag = new Boolean();

        function initialize() {

            var myOptions = {
                zoom: 5
            };

            var map = new google.maps.Map(document.getElementById("map"), myOptions);

            // Try W3C Geolocation (Preferred)
            if (navigator.geolocation) {
                browserSupportFlag = true;
                navigator.geolocation.getCurrentPosition(function (position) {
                    initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(initialLocation);
                }, function () {
                    handleNoGeolocation(browserSupportFlag);
                });
                // Try Google Gears Geolocation
            } else if (google.gears) {
                browserSupportFlag = true;
                var geo = google.gears.factory.create('beta.geolocation');
                geo.getCurrentPosition(function (position) {
                    initialLocation = new google.maps.LatLng(position.latitude, position.longitude);
                    map.setCenter(initialLocation);
                }, function () {
                    handleNoGeoLocation(browserSupportFlag);
                });
                // Browser doesn't support Geolocation
            } else {
                browserSupportFlag = false;
                handleNoGeolocation(browserSupportFlag);
            }

            function handleNoGeolocation(errorFlag) {
                if (errorFlag == true) {
                    initialLocation = newyork;
                } else {
                    initialLocation = siberia;
                }
                map.setCenter(initialLocation);
            }

            var jsonData = $.parseJSON($("#MapData").val());

            for (var i = 0; i < jsonData.length; i++) {

                if (jsonData[i].lat && jsonData[i].lng) {
                    var pos = new google.maps.LatLng(jsonData[i].lat, jsonData[i].lng);
                    var marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: jsonData[i].user
                    });
                }
            }
        }

        $(function () {
            initialize();
        });
    </script>
}

<div id="map" style="height:500px;width:500px;"></div>